@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100%;
}
body {
	font-family: 'open_sansregular';
	font-size: 12px;
	overflow-x: hidden;
	background: #f5f6fa;
}
a, a:link, a:visited, button:focus {
    outline: none;
	text-decoration: none;	
}
img {
	border: none;
	margin: 0px;
	max-width: 100%;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
h3, h4, h5, h6 {
	font-size: .9em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}
form, input, select, textarea, p {
	margin: 0px;
	padding: 0;
}
textarea {
	resize: none;
}
input:focus, textarea:focus {
	outline: none;
}
input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}
article, aside, details, figcaption, figure,  
footer, header, hgroup, menu, nav, section, time {  
	display: block; 
	margin: 0px;
	padding: 0; 
} 
.customClear {
	clear: both;
	font-size: 0em;
	line-height: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
.overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.modal_wrapper {
	width: 100%;
	position: absolute;
	padding-top: 50px;
	top: 0;
	left: 0;
	z-index: 1001;
	display: none;
}
/*IE below 9*/
#ieWrapper {
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ieHolder {
	position: relative; 
	width: 555px;
	padding: 20px;
	margin: 200px auto 0 auto;
	background: #FFF;
	border: 7px solid #2b2927;
}
.btnIeUpdate {
	background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
	width: 144px;
	height: 37px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #fff;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.ieLogo {
	float: left;
	width: 134px;
	height: 139px;
	background: url(../images/ieLogo.jpg) no-repeat 0 0;
}
.ieContent {
	float: right;
	margin: 0;
	padding: 0;
	width: 400px;
	color: #666;
	font-size: 15px;
	line-height: 18px;
}
.ieContent strong {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #cccccc;
	display: block;
	font-size: 18px;
	color: #333;
	font-weight: normal;
}
/*End IE below 9*/
.redColor {
    color: #e82c2c;
}
.relative{
	position: relative;
}
.pageHolder {
    padding-right: 30px;
    padding-left: 30px;
}
.headerHolder{
    padding: 5px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #ebebeb;
    margin:15px 0;
    border-radius: 5px;
}
.navHolder{
	font-family: 'open_sansbold';
	margin: 22px 0 10px;
	font-size: 14px;
}
.navHolder .list-inline-item:not(:last-child) {
    margin-right: 30px;
}
.navHolder li a{
	color: #174e87;
    padding: 6px 0;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    transition: .8s;
}
.navHolder li.active a,.navHolder li a:hover,.navHolder li a:focus,.rightNavHolder .userName,.rightNavHolder .addNewProperty a{
	color: #2c99f8;
}
.rightNavHolder{
	font-size: 14px;
    margin: 15px 0 10px;
    text-align: right;
}
.rightNavHolder .addNewProperty{
	margin-right: 30px;
}
.rightNavHolder .addNewProperty a{
	font-family: 'open_sansbold';
}
.rightNavHolder .userImgHolder figure{
	font-family: 'open_sanssemibold';
	color: #174e87;
}
.rightNavHolder .userImgHolder img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 3px solid #ececec;
}
.headerDropdownHolder{
	position: absolute;
    right: 0;
    background: #fff;
    z-index: 1;
    width: 100%;
    text-align: left;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 6px #d7d7d7;
    display: none;
}
.headerDropdownHolder li a{
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    color: #000;
    transition: .8s;
}
.headerDropdownHolder li:last-child a{
    border-bottom: 0;
}
.headerDropdownHolder li a:hover{
	color: #2c99f8;
}

.topTotalListHolder .listBoxHolder{ 
	border-radius: 5px;
	padding:10px;
	color: #fff;
	font-family: 'open_sanssemibold';
    /* min-height: 85px; */
    margin-bottom: 15px;
}
.topTotalListHolder .listBoxHolder:last-child{ 
	margin-right: 0;
}
.topTotalListHolder .listBoxHolder .totalListLabel{
    font-size: 18px;
    margin-top: 5px;
}
.topTotalListHolder .listBoxHolder .labelContent{
    margin-top: 8px;
}
.topTotalListHolder .listBoxHolder figure{
    width: 33%;
    margin: 15px 0px 10px 5px;
}
.topTotalListHolder .listBoxHolder label{
    margin: 0;
    font-size: 13px;
}
.topTotalListHolder .listBoxHolder h1{
    font-size: 30px;
    line-height: 26px;
}
.redBgColor{
	background-color: #ed6363;
}
.greenBgColor{
	background-color: #17b794;
}
.yellowBgColor{
	background-color: #ffc100;
}
.blueBgColor{
	background-color: #45aaf2;
}
.pinkBgColor{
	background-color: #ff679b;
}
.violetBgColor{
	background-color: #777edd;
}
.mainBoxHolder{
	padding:15px;
    background-color: #fff;
    box-shadow: 0px 0px 8px #ebebeb;
    margin-bottom: 15px;
    border-radius: 5px;
}
.listSelectHolder > .col-8{
    padding-right: 11px;
}
.listSelectHolder > .col-4{
    padding-left: 4px;
}
.selectStyle{
    outline: none;
    border: 1px solid #ecebeb;
    border-radius: 3px;
    padding: 6px 10px;
    min-width: 100px;
    font-size: 14px;
    color: #1a1a1a;
    background-color: #fff;
}
.btnStyle{
    padding: 6px 16px;
    background: #3a96ff;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #3a96ff;
    border-radius: 3px;
    transition: .8s;
    cursor: pointer;
}
.btnStyle:hover{
    background: #59a7ff;
    border: 1px solid #59a7ff;
}
.cancelBtnStyle{
    padding: 6px 16px;
    background: #959596;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #8a8686;
    border-radius: 3px;
    transition: .8s;
    cursor: pointer;
}
.cancelBtnStyle:hover{
    background: #afafb1;
}
.mainBoxHolder h2{
	font-size: 18px;
	color: #0b325b;
	font-family: 'open_sansbold';
}
.listSelectHolder .mainBoxHolder h2{
	margin-top: 10px;
}
.listSelectHolder .mainBoxHolder hr{
	margin: 15px 0;
}
.pieChart {
    margin: 30px auto 10px;
}
.graphLabelHolder{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 22px;
    width: 100%;
}
.graphLabelHolder label{
    margin-bottom: 10px;
    color: #1a1a1a;
    font-size: 14px;
    display: block;
}
.graphLabelHolder span{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}	
.listByCityHolder .cityName{
	font-size: 18px;
	font-family: 'open_sansbold';
}
.listByCityHolder .cityListHolder{
	margin: 15px 0 0;
}
.listByCityHolder .cityListHolder li{
	color: #000;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.listByCityHolder .cityListHolder li:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    left: 17px;
    background: #eceff9;
    z-index: -1;
}
.listByCityHolder .cityListHolder li:last-child:before{
	display: none;
}
.listByCityHolder .cityListHolder figure{
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.listByCityHolder .cityListHolder label{
	font-size: 13px;
    width: 60%;
    margin: 0 10px;
    font-family: 'open_sanssemibold';
}
.listByCityHolder .cityListHolder strong{
	font-size: 15px;
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'open_sansbold';
}

.viewAllLink{
	color: #45aaf2;
	font-size: 14px; 
	font-family: 'open_sanssemibold';
}
.allListBoxHolder{
 	background-color: #fff;
    box-shadow: 0px 0px 8px #ebebeb;
    margin-bottom: 15px;
    border-radius: 5px;
}
.allListBoxHolder .listImgHolder{
	/* background: url(../images/img1.jpg) no-repeat; */
	background-repeat: no-repeat;
	background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 160px;
    background-position: center;
}
.allListBoxHolder .listImgHolder img{
	display: none;
}
.allListBoxHolder .listContentHolder{
	padding: 20px;
}
.allListBoxHolder .listContentHolder h3{
	font-size: 16px;
	color: #0b325b;
	font-family: 'open_sanssemibold';
	display: inline-block;
}
.allListBoxHolder .listContentHolder .addressWrap{
	margin: 14px 0;
}
.allListBoxHolder .listContentHolder .addressWrap figure,.basicInfoHolder .addressWrap figure{
	display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}
.allListBoxHolder .listContentHolder .addressWrap label,.basicInfoHolder .addressWrap label{
	display: inline-block;
	color: #7c7c7c;
    font-size: 14px;
    line-height: 18px;	
    margin: 0;
}
.allListBoxHolder .listContentHolder p{
	color: #333333;
    font-size: 14px;
    line-height: 18px;	
    margin-bottom: 10px;
}
.allListBoxHolder .listContentHolder p a{
	color: #45aaf2;
	font-family: 'open_sanssemibold';
	text-transform: capitalize;
}
.allListBoxHolder .listEditOption{
	position: absolute;
    top: 20px;
    right: 20px;
	background: url(../images/iconGrayDot.png) no-repeat;
    background-position: top;
    cursor: pointer;
    padding: 0 6px;
}
.allListBoxHolder .listEditOption img{
	visibility: hidden;
}
.listBoxPadding {
    margin: 0 -7px;
}
.listBoxPadding .col-12 {
    padding: 0 7px;
}
.listEditDropdown {
    position: absolute;
    top: 20px;
    right: 40px;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 6px #d7d7d7;
    margin: 0;
    padding-bottom: 4px;
    display: none;
}
.listEditDropdown li{
    margin-bottom: 4px;
}
.listEditDropdown li a{
	padding: 10px 15px;
    display: inline-block;
}
footer{
    color: #333333;
    opacity: .5;
    font-size: 13px;
    margin: 5px 0 35px;
}
/*detail page style*/
.detailSliderHolder{
    text-align: center;
    margin-top: 20px;
}
.detailSliderHolder .bx-pager-item{
    display: inline-block;
}
.detailSliderHolder .bx-pager-item a{
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #174e87;
    margin: 15px 2px 10px;
    border-radius: 50%;
    font-size: 0;
}
.detailSliderHolder .bx-pager-item a.active{
    background: #2c99f8;
}
.detailPageWrapper .basicInfoHolder{
    margin-top: 20px;
}
.basicInfoHolder strong{
    color: #000;
    font-size: 16px;
    font-family: 'open_sansbold';
    display: block;
    margin: 0 0 25px;
}
.basicInfoHolder strong span{
    color: #2c99f8;
}
.basicInfoHolder .type{
    font-size: 16px;
    margin: 15px 0;
    font-family: 'open_sansbold';
}
.basicInfoHolder .addressWrap{
    margin: 20px 0;
}
.basicInfoHolder .addressWrap label{
    font-family: 'open_sanssemibold';
    font-size: 16px;
}
.basicInfoHolder .estmPrice{
    font-size: 16px;
    color: #000;
    margin: 25px 0;
    font-family: 'open_sansbold';
}
.basicInfoHolder .estmPrice span{
    font-size: 18px;
    color: #45aaf2;
}
/*filter style*/
.filterHolder{
    text-align: right;
}
.filterHolder .dropList{
    margin-right: 6px;
}
/*droplist style*/
.dropList{
    position: relative;
    /* margin: 20px 10px; */
    max-width: 150px;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.dropList .dropListContent{
    display:block;
    vertical-align: top;
    background:#fff  url(../images/iconDownArrow.png) no-repeat 95% center;
    color: #1a1a1a;
    /* max-width: 200px; */
    width:100%;
    margin:0;
    border:1px solid #ecebeb;
    font-size: 15px;
    border-radius: 3px;
    position: relative;
    padding: 6px 15px 6px 10px;
    cursor: pointer;
    /* overflow: hidden; */
    white-space: nowrap; 
    text-overflow: ellipsis;
}
/*placeholder color*/
.dropList .dropListContent::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1a1a1a;
    opacity: 1; /* Firefox */
}
.dropList .dropListContent:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1a1a1a;
}
.dropList .dropListContent::-ms-input-placeholder { /* Microsoft Edge */
    color: #1a1a1a;
}

.dropList ul{
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 37px;
    border-radius: 3px;
    left: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #ecebeb;
    font-size: 14px;
}
/* .dropList li{
    margin: 0;
    border: 1px solid #ecebeb;
    background: #fff;;
} */
.dropList li{
    display: block;
    margin: 0;
    color: #000;
    padding: 8px 10px;
    /* max-width: 200px; */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #fff;
    border-bottom: 1px solid #ecebeb;
    transition: .8s;
}
.dropList li a{
    color: #000;
    display: block;
}
.dropList li:last-child{
    border-bottom: 0;
}
.dropList li a:hover{
    color: #3a96ff;
}
.filterHolder .btnStyle{
    display: inline-block;
    vertical-align: top;
}
/*checkbox style*/
.checkboxStyleHolder input[type="checkbox"] {
    display: none;
}
.checkboxStyleHolder input[type="checkbox"] + label {
    vertical-align: middle;
    border: 1px solid #d7d8df;
    display: inline-block;
    height: 18px;
    padding: 0;
    width: 18px;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 2px;
}
.checkboxStyleHolder input[type="checkbox"]:checked + label {
    background: #3a96ff url(../images/iconTickWhite.png) no-repeat 45% 74%;
    border: 1px solid #3a96ff;
    background-size: 100%;
}
.checkboxStyleHolder input[type="checkbox"] + label span{
    color: #1a1a1a;
    display: block;
    position: relative;
    left: 22px;
    top: -4px;
}
.advnceFilterHolder .checkboxStyleHolder input[type="checkbox"] + label{
    height: 15px;
    width: 15px;
}
/* .paginationStyle{
    margin: 10px 0 20px;
    color: #333;
    font-size: 14px;
    font-family: 'open_sanssemibold';
}
.paginationStyle li{
    padding: 8px 2px;
    border: 1px solid #e6e3e3;
    display: inline;
    margin: 0!important;
    border-right: 0;
    background: #fff;
    transition: .8s;
}
.paginationStyle li.prevs{
    border-radius: 3px 0 0 3px;    
    background: #eaeaea;
}
.paginationStyle li.next{
    border-right: 1px solid #e6e3e3;
    border-radius: 0 3px 3px 0;
    background: #eaeaea;
}
.paginationStyle li:hover{
    background: #45aaf2;
}
.paginationStyle li a{
    padding: 8px 12px;
    color: #333;
} */
/*pagination style*/
ul.pagination li{    
    float:left;    
    padding:4px 12px;    
    border:1px solid #dee2e6;    
    vertical-align:middle;    
    border-right:0;
}
ul.pagination li.active{    
    background:#3b96fd;    
    color:#fff;    
    border:1px solid #3b96fd;
}
ul.pagination{    
    list-style:none;    
    padding:0;    
    margin:0;    
    font-size:14px;
}

/*login page style*/
.loginPage{
    position: relative;
    min-height: 100vh;
}
.loginWrapper{
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #073665;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 350px;
}
.halfWidth{
    width: 50%;
    float: left;
}
.loginWrapper .logoWrap{
    font-size: 14px;
    color: #fff;
    padding: 20px;
    margin: 48px 0 20px;
    border-right: 1px solid #052d55;
}
.loginWrapper .logoWrap figure{
    margin-bottom: 30px;
}
.loginFormHolder {
    width: 80%;
    margin: 60px auto 20px;
}
.loginFormHolder .inputStyle{
    margin-bottom: 15px;
}
.loginFormHolder .forgetHolder{
    margin: 20px 0 0;
}
.loginFormHolder .forgetHolder a{
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}
.loginFormHolder .forgetHolder .forgetPassword{
    color: #fff;
    text-transform: capitalize;
    font-family: 'open_sanssemibold';
}

.inputStyle{
    outline: none;
    border: 1px solid #ecebeb;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 14px;
    color: #1a1a1a;
    width: 100%; 
    max-width: 230px;
    background-color: #fff; 
}
/*add property page*/
.adminTitle h1 {
    font-family: 'open_sansbold';
    font-size: 24px;
    color: #0b325b;
    margin-bottom: 15px;
}
.agentAdminHolder .labelStyle {
    font-family: 'open_sansbold';
    font-size: 14px;
    margin: 6px 0;
    color: #032950;
}
.agentAdminHolder .mapHolder iframe {
    width: 100%;
    height: 225px;
}
.agentAdminHolder .addressManualHolder .orHolder{
    position: absolute;
    left: 0;
    top: 30%;
    height: 100px;
    width: 25px;
    text-align: center;
}
.agentAdminHolder .addressManualHolder .orHolder:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: #e5e5e5;
}
.agentAdminHolder .addressManualHolder .orHolder span{
    position: absolute;
    left: -11px;
    top: 35%;
    display: block;
    height: 26px;
    width: 26px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 4px 0;
    border-radius: 50%;
    font-size: 11px;
    color: #000;
}
.agentAdminHolder .addressManualHolder strong {
    color: #0b325b;
    font-size: 14px;
    margin: 0 15px 18px;
    display: block;
}
/*tab style*/
.tabWrapper .tabLinkStyle{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.tabWrapper .tabLinkStyle li {
    font-size: 14px;
    background: #fff;
    border-radius: 3px;
    margin: 0;
}
.tabWrapper .tabLinkStyle li a{
    color: #000;
    display: block;
    padding: 5px 20px;
}
.tabWrapper .tabLinkStyle li.current {
    border: 1px solid #2c99f8;
    background: #2c99f8;
}
.tabWrapper .tabLinkStyle li.current a{
    color: #fff;
}
.tabWrapper .tabContent{
    display: none;
}
.tabWrapper .tabContent.current{
    display: inherit;
}
/*checkbox style and radio style*/
.checkboxStyleHolder input[type="checkbox"],.radioCheckStyleHolder input[type="radio"] {
    display: none;
}
.checkboxStyleHolder input[type="checkbox"] + label,.radioCheckStyleHolder input[type="radio"] + label {
    vertical-align: middle;
    border: 1px solid #d7d8df;
    display: inline-block;
    height: 18px;
    padding: 0;
    width: 18px;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 2px;
}
.checkboxStyleHolder input[type="checkbox"]:checked + label,.radioCheckStyleHolder input[type="radio"]:checked + label {
    background: #3a96ff url(../images/iconTickWhite.png) no-repeat 45% 74%;
    border: 1px solid #3a96ff;
    background-size: 100%;
}
.checkboxStyleHolder input[type="checkbox"] + label span,.radioCheckStyleHolder input[type="radio"] + label span{
    color: #1a1a1a;
    display: block;
    position: relative;
    left: 22px;
    top: -4px;
    font-size: 13px;
}
.agentAdminHolder .radioCheckStyleHolder input[type="radio"] + label span{
    top: -1px;
    left: 26px;
    font-family: 'open_sanssemibold';
}
.agentAdminHolder .radioCheckStyleHolder{
    width: 100px;
}
.custmFileInput[type="file"]{
    display: none;
}
.customFileUpload{
    border: 1px solid #dfdfdf;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #ebebeb;
    text-transform: capitalize;
    color: #000000;
    font-size: 14px;
    vertical-align: middle;
    margin: 0;
}
.previewImageHolder{
    height: 65px;
    width: 65px;
    border: 1px solid #ddd;
    padding: 2px;
    display: inline-block;
    /* margin-left: 10px; */
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
}
.previewImageHolder img{
    height: 100%;
    width: 100%;
}
.uploadGalleryPrevHolder {
    width: 530px;
}
.uploadGalleryPrevHolder .previewImageHolder{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px 10px 0;
}
.uploadGalleryPrevHolder .previewImageHolder:nth-child(6n+6){
    margin-right: 0;
}
.delImageSelect{
    font-family: 'open_sansbold';
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
    width: 22px;
    border-radius: 50%;
    height: 22px;
    display: inline-block;
    background: #2c99f8;
    text-align: center;
    color: #fff;
}
.galleryAddHolder {
    margin-bottom: 15px;
}
.galleryAddHolder .galPrev {
    display: inline-block;
    margin-right: 15px;
}
.appendGalleryElement .addPropertyBtn {
    color: #2c99f8;
    font-family: 'open_sansbold';
    font-size: 12px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid #eaeaea;
    padding: 6px 15px;
    border-radius: 3px;
}


/*property detail page style*/
.viewerCount{
    display: inline-block;
    float: right;
    text-transform: capitalize;
    font-size: 12px;
    color: #696969;
    font-family: 'open_sanslight';
}
.subInnerTitle {
    display: block;
    border: 1px solid #ddd;
    border-width: 1px 0;
    padding: 10px 0;
    margin: 20px 0!important;
}
.detailContentStyle {
    margin: 6px 0 10px;
    font-size: 14px;
    font-family: 'open_sanssemibold';
}
.neighbourhoodGallery img {
    border: 1px solid #ececec;
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.errorMsg{
    font-size: 11px;
    color: #e21818;
    position: absolute;
    /* top: -5px; */
    left: 0;
    bottom: -12px;
    /* background: #fff; */
    display: inline-block;
    padding: 1px 8px 1px 0;
    line-height: 10px;
}
/*choosen select style*/
.chosen-container-single .chosen-single{
    padding: 6px 10px;
    height: auto;
    border: 1px solid #ecebeb;
    border-radius: 3px;
    background-color: #fff;
    background: none;
    background-clip: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #1a1a1a;
    outline: none;
}
.chosen-container-single .chosen-single div b {
    background-position: 0 9px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 9px;
}
.chosen-container-single .chosen-drop {
    margin-top: 1px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #ecebeb;
}
.chosen-container-single .chosen-search input[type=text] {
    border: 1px solid #cccccc;
    border-radius: 3px;
}
.chosen-container-active.chosen-with-drop .chosen-single{
    border:1px solid #ecebeb;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    background-image:none;
    background-image:none;
    -webkit-box-shadow:none;
    -webkit-box-shadow:none;
}
.errorMsg1 {
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    background: #fff;
    border-radius: 3px;
    font-family: 'open_sansbold';
}
.errorMsg1 p {
    color: #3a96ff;
    font-size: 16px;
}
.dropClick{
    cursor: pointer;
}

@media (max-width: 1150px){
    .mainBoxHolder h2 {
        font-size: 15px;
    }
    .selectStyle {
        min-width: 90px;
        font-size: 13px;
        padding: 6px 8px;
    }
    .viewAllLink , .allListBoxHolder .listContentHolder .addressWrap label, .basicInfoHolder .addressWrap label,
    .allListBoxHolder .listContentHolder p {
        font-size: 13px;
    }
}
@media (max-width: 920px){
    .loginWrapper{
        width: 75%;
    }
    .loginWrapper .logoWrap,.loginFormHolder .forgetHolder a{
        font-size: 13px;
    }
}